@font-face {
    font-family: 'gFonts-Inter';
    src: url('./fonts/inter/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: normal;
    font-size: normal;
  }

*{ box-sizing: border-box;}
body{
  display: grid;
  grid-template-columns: auto 90% auto;
  font-family: 'gFonts-Inter';
  background-image: url("assets/sun-pattern.png");
  background-repeat: repeat;
}

.app-container {
  /* center app container */
  grid-column-start: 2;
  /* add margins  */
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* grid display area  */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4 auto);
  grid-auto-rows: auto;
  /* visibility color */
  /* background-color: rgb(192, 185, 89); */
  
}
#location-display{
  grid-column: 1 / 4;
  background-color: blueviolet;
  /* subgrid */
  display: grid;
  grid-template-columns: 2rem auto auto;
}
#location-sub{
  grid-column: 2 / 4;
  /* subgrid */
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: blue; */
}
#location-main{
  font-size: 1.5rem;
  font-weight: 600;
}
#location-time{
  grid-column-start: 2;
}


#location-search{
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: rgb(176, 92, 187);
  /* grid-column-end: ; */
}
#weather-data{
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(87, 133, 133);
  /* subgrid */
  display: grid;
  grid-template-columns: auto auto;
}
#weather-forecast{
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: aquamarine; */
}
#weather-numbers{
  grid-column: 2 / 3;
}

/* children of app container */
.app-container > div{
  padding: 1rem;
  border-radius: 1rem;
}

.conditions-label{
  font-weight: 600;
}
#current-conditons-title{
  font-weight: 600;
  font-size: 1.2rem;
}
#current-display{
  font-size: 1.4rem;
}

.svg-icon{
  height: 2.5rem;
}